<section id='my-classes'>
  <% @courses.each do |course| %>
    <section id='class-<%=course.id%>'>
    <%= course.name %>
    <%= link_to 'Unenroll in Course', "/students/courses/#{course.id}", method: :delete, data: { confirm: "Are you sure?" } %>
    </section>
  <% end %>
</section>

<section id='options'>
  <%= form_with url: '/students/courses', method: :post do |f| %>
    <%= f.text_field :enrollment %>
    <%= f.submit 'Enroll in Course' %>
  <% end %>
</section>
