<div class="jumbotron">
      <div class="container">
        <h1>Welcome <%= @student.first_name %></h1>
      </div>
    </div>
<div class="container">
      <div class="row">
        <div class="col-md-4" id="my-courses">
          <h2 >My Classes</h2>
          <% @courses.each do |course| %>
            <section id="course-<%= course.id %>">
              <%= button_to  "#{course.name}", "/students/courses/#{course.id}", method: :get %>
              <%= link_to 'Unenroll in Course', "/students/courses/#{course.id}", method: :delete, data: { confirm: "Are you sure?" } %>
            </section>
          <% end %>
          <section id='add-course'>
          <%= form_with url: "/students/courses", method: 'post' do |f| %>
            <%= f.text_field :enrollment %>
            <%= f.submit 'Enroll in Course' %>
          <% end %>
          </section>
        </div>

        <div class="col-md-4" id='my-points'>
          <h2>My Total Points</h2>
          <h4><%= @points %></h4>
       </div>
        <div class="col-md-4">
          <h2>My Poms</h2>
          <ol>
          <% @poms.each do |pom| %>
          <li><%= link_to  "#{pom.name}", "poms/#{pom.id}" %></li>
          <%end%>
          </ol>
       </div>
      </div>
      <hr>
    </div>
