<h1>Edit <%=@course.name %></h1>
<center>
  <%= form_with url: "/teachers/courses/#{@course.id}", method: :patch do |f| %>
    <%= f.text_field :name, :placeholder => "#{@course.name}" %>
    <%= f.text_field :school_name, :placeholder => "#{@course.school_name}" %>
    <%= f.submit 'Update Course' %>
  <% end %>
</center>
